@model List<LetThereBeVoice.Models.UserRecentActivity>

<h2 class="text-warning mb-4">Recent Global Messages</h2>

<ul class="list-group">
    @foreach (var item in Model)
    {
        <li class="list-group-item bg-dark text-light border-secondary mb-2">
            <strong class="text-warning">@item.Username</strong> in
            <span class="text-info">#@item.ChannelName</span><br />
            <span>@item.Content</span>
            <br>
            <small class="text-info">Sent at: @item.SentAt.ToLocalTime()</small>
        </li>
    }
</ul>
