body {
    background-color: #121212;
    color: #f2f2f2;
}

a, .btn-primary {
    background-color: #800000; /* bordo */
    border-color: #800000;
    color: #fff;
}

    a:hover, .btn-primary:hover {
        background-color: #a30000;
        border-color: #a30000;
    }

input, textarea {
    background-color: #1f1f1f;
    color: white;
    border: 1px solid #800000;
}

.navbar {
    background-color: #1b1b1b;
    border-bottom: 2px solid #800000;
}

    .navbar a {
        color: #fff !important;
    }

h1, h2, h3 {
    color: #ffdddd;
}
